fastapi
uvicorn[standard]
python-dotenv
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
eval_type_backport
python-multipart
SQLAlchemy
alembic
psycopg[binary]
redis
rq
requests
pandas
openpyxl
selenium
charset-normalizer
